.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 70px;
}

/* mobile */
@media only screen and (max-width:720px) {
  .d-sm-block {
    visibility: visible;
  }
  .d-sm-none {
    visibility: hidden;
  }
  .col-sm-2 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
  }

  .col-sm-1 {
    display: grid;
    grid-template-columns: auto;
    column-gap: 10px;
  }

  .m-sm-1{
      margin: 10px;
  }
  .mobile-contact-us{
    margin: 15px;
  }
}







/* pc */
@media only screen and (min-width:721px) {
    .d-lg-none {
      visibility: hidden;
    }
    .d-lg-block {
      visibility: visible;
    }
    .col-lg-4 {
      display: grid;
      grid-template-columns: auto auto auto auto;
      column-gap: 10px;
    }

    .col-lg-2 {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 10px;
    }

    .m-lg-5{
        margin: 50px;
    }
}

.col-2 {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

body {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  text-decoration: none;
}

.top-navbar-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.top-navbar-area>div>a {  
  display: inline-block;
  margin: 10px 20px;
  font-weight: bold;
  font-size: 1.1rem;
}


.mobile-navbar-area {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(1, 1, 139); 
}

.mobile-navbar-area>div>a {  
  display: inline-block;
  margin: 10px 20px;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
}


.slideshow-area>div>img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
}



.influencer-area>div>img {
  width: 90px;
  height: 90px;
  border-radius: 1000px;
  border: 4px solid rgb(201, 7, 201);
  margin: 10px;
  padding: 4px;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.justify-content-start{
    justify-content: start;
}

.justify-content-between{
    justify-content: space-between;
}

.item-center {
  align-items: center;
}

.item-start {
  align-items: start;
}

.influencer-area {
  overflow-y: visible;
  overflow-x: scroll;
}

.ads-area>div>div>img {
  width: 100%;
  border-radius: 10px;
}

.ads-area>div {
  margin: 5px;
}



.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;  
}

footer {
  margin-bottom: 100px;
  margin-top: 20vh;
}

footer p {
  margin: 8px 5px;
}

footer a {
  margin: 2px 5px;
  display: inline-block;
}


.p-5 {
  padding: 10px;
}


.form-control {
  width: 95%;
  margin: 5px 1px;
  border: 1px solid rgb(201, 200, 200);
  border-radius: 7px;
  padding: 7px;
  font-size: 0.8rem;
}

.form-control:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn {
  border: 0px;
  border-radius: 5px;
  padding: 5px 15px;
}

.btn-blue {
  background-color: blue;
  color: white
}

.product-card img {
  width: 15vw;
  min-width: 150px;
}

.product-card-img-area {
  text-align: center;
}

.product-card-img-area p {
  color: red;
  font-size: 1.2rem;
  font-weight: 600;
}

.product-card-title {
  font-size: 1.8rem;
  font-weight: 900;
  margin: 0px;
}


.card-page {
  width: 90%;
  margin: 100px auto;
}

.mobile-navbar-area i {
  font-size: 2rem;
}

.topbar{
  color: white;
  background-color: blue;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
}

.topbar a{
  color: white;
}

.btn-warning{
  background-color: yellow;
  border:  1px black solid;
}

.me-4{
  margin-right: 17px;
}

.login-form{
  margin: auto;
  width: 90%;
  max-width: 700px;
  margin-top: 100px;
}

.login-form>div{
  border: 2px sloid gray;
  border-radius: 20px;
  background-color: rgb(217 213 213);
  padding: 50px 20px;
}